html {
  background-color: #F4F5F0 !important;
}

#content {
  background-color: #F4F5F0 !important;
  height: 100vh !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 40px !important;
}

.top-container {
  height: 100%;
}

.divider-gfx-login {
  height: 100%;
  width: 100%;
  padding: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #F4F5F0 !important;
}

.bottom-box {
  height: 50vh !important;
  width: 100% !important;
  position: absolute;
  background-color: #72AE73 !important;
  bottom: 0;
  left: 0;
  margin: 0;
}

#divider {
  display: block;
  height: 71px;
  width: 158%;
  margin-left: -27%;
  margin-top: -79px;
}

.copy {
  width: 85% !important;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0;
  display: block;
  background-color: #72AE73 !important;
  margin-bottom: 72px;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  color: #F4F5F0 !important;
  background-color: #72AE73 !important;
  opacity: 0;
  font-family: 'Frutiger LT Pro 65 Bold' !important;
}

#error-msg-second-line {
  display: block;
  background-color: #72AE73 !important;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #72AE73;
  font-weight: 500;
  font-size: 15px;
}

.login-form-field {
  color: #72AE73;
  font-family: 'Frutiger LT Pro 45 Light';
  border: none;
  background-color: #f4f5f0;
  border-bottom: 1px solid #72AE73;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
  padding: 11px 8px 1px 5px;
}

#login-form-submit {
  width: 150px;
  margin-top: 70px;
  padding: 7px;
  border: 3px solid #f4f5f0;
  color: #F4F5F0;
  font-weight: bold;
  background-color: #72AE73;
  cursor: pointer;
  outline: none;
}

input#username-field {
  color: #72AE73;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  margin-top: 5px;
  flex-direction: row;
  display: flex !important;
  align-content: flex-start;
  height: 40px;
}

.back a img {
  width: 70px;
  margin: 0;
}

.back a h3 {
  height: auto;
  width: 110px;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0.3rem;
  align-self: center;
  color: #72ae73;
  text-decoration: underline;
}

.buttonwhite {
  background-color: #72AE73;
}

#oplysninger {
  width: 250px;
  display: block;
  color: white;
  z-index: 5;
  margin-left: -125px !important;
  position: absolute;
  font-family: 'Frutiger LT Pro 65 Bold' !important;
  left: 50%;
  bottom: 0;
}

@media (min-width: 750px) {
  #content {
    height: 100%;
    min-height: 82vh !important;
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    margin-top: 5px;
  }

  .knap {
    width: 150px;
  }

  h1 {
    font-size: 50px !important;
  }

  .hide {
    display: flex !important;
    height: auto;
  }

  #divider {
    top: -40px;
    width: 351%;
    left: -125%;
  }

  .divider-gfx-login {
    width: 100% !important;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #F4F5F0
  }

  .copy {
    width: 50% !important;
  }

  .back {
    margin-top: 50px;
  }

  #oplysninger {
    bottom: 50px;
  }

  #username-field {
    margin-top: 4rem;
  }

  #login-error-msg {}

  .mobil-wrap {
    flex-direction: column !important;
  }
}

@media (min-width: 922px) {
  .divider-gfx-login {
    width: 80% !important;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #F4F5F0
  }

  .copy {
    width: 75% !important;
  }

  #divider {
    top: -39px;
    width: 315%;
  }
}

@media (min-width: 1200px) {
  .divider-gfx-login {
    width: 60% !important;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #F4F5F0
  }
}

@media (min-width: 1600px) {
  #divider {
    width: 133%;
    overflow: hidden;
    top: -70px;
    height: 83px;
    margin-left: 103.5%;
  }

  .divider-gfx-login {
    width: 45% !important;
    padding: 10rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #F4F5F0
  }
}